{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quibusdam, itaque maiores quam ab suscipit ullam impedit doloribus modi quaerat sint maxime ipsam unde illo cupiditate saepe consequuntur inventore, animi iusto expedita assumenda? Autem corporis incidunt ipsum voluptates, saepe suscipit expedita, deserunt enim dolores officiis id sequi, qui ab perspiciatis provident. Laborum officia atque veniam labore eum expedita similique cumque ab facere rem deserunt rerum id veritatis ullam culpa aliquid explicabo, iste, voluptas reiciendis omnis facilis incidunt? Mollitia architecto quae magnam asperiores sunt ex consectetur, consequatur et cupiditate odio neque, dolores dolorum corrupti eveniet, officia inventore autem adipisci at optio!</p>

<p>Website created by {{ username }}</p>

{% endblock %}